@import "theme/catppuccin";

h1,
h2,
h3 {
  font-weight: 700;
  filter: drop-shadow(2px 2px 2px $crust);
}

.card:hover {
  box-shadow: $box-shadow !important;
  border-color: $surface2;
}

ul.list-group:hover {
  box-shadow: $box-shadow !important;
}

.card > ul.list-group:hover {
  box-shadow: none !important;
}

.blue-peach-gradient {
  background: linear-gradient(to right, $blue, $peach);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-gradient-subtle {
  background: $text linear-gradient(to right, $text, $subtext1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
