---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import GameCard from "../components/GameCard.astro";
import Link from "../components/Link.astro";

import "../styles/catppuccin.scss";

const allLinks = await getCollection("links");
const allGames = await getCollection("games");
---

<Layout title="Loic Vourch - Software Engineer">
  <main class="container">
    <h1 class="text-primary mb-5">Loic Vourch - Software Engineer</h1>

    <div class="mb-5">
      <h2><i class="fas fa-link"></i> Links</h2>
      <ul class="list-group">
        {
          allLinks
            .sort((a, b) => a.data.sortOrder - b.data.sortOrder)
            .map((link) => <Link link={link} />)
        }
      </ul>
    </div>

    <div class="">
      <h2><i class="fas fa-gamepad"></i> Games</h2>
      <div class="row row-cols-2">
        {
          allGames
            .sort((a, b) => a.data.sortOrder - b.data.sortOrder)
            .map((game: any) => <GameCard game={game} />)
        }
      </div>
    </div>

    <hr />
  </main>
</Layout>

<script>
  // Astro will bundle and process this automatically
  // import "bootstrap/dist/js/bootstrap.bundle.min.js";

  import Plausible from "plausible-tracker";
  const plausible = Plausible({
    domain: "loic.vour.ch",
    apiHost: "/ps",
    hashMode: false,
  });
  plausible.trackPageview();
</script>
