---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import GameCard from "../components/GameCard.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import GitHubFork from "../components/GitHubFork.astro";

import "../styles/style.scss";

const allLinks = await getCollection("links");
const allGames = await getCollection("games");

// Font Awesome
import { library, icon } from "@fortawesome/fontawesome-svg-core";
// import { faLinkedin } from "@fortawesome/free-brands-svg-icons";
import { faGamepad, faLink } from "@fortawesome/free-solid-svg-icons";

library.add(faGamepad, faLink);

const gamepad = icon({ prefix: "fas", iconName: "gamepad" });
const linkIcon = icon({ prefix: "fas", iconName: "link" });
---

<Layout title="Loic Vourch - Software Engineer">
  <main class="container">
    <h1 class="mt-4 mb-5">
      <span class="blue-peach-gradient">Loic Vourch - Software Engineer</span>
    </h1>

    <section>
      <h2 class="mb-3">
        <Fragment set:html={linkIcon.html} />
        <span class="text-gradient-subtle">Links</span>
      </h2>
      <ul class="list-group shadow-sm mb-5">
        {
          allLinks
            .sort((a, b) => a.data.sortOrder - b.data.sortOrder)
            .map((link) => <Link link={link} />)
        }
      </ul>
    </section>

    <section>
      <h2 class="mb-3">
        <Fragment set:html={gamepad.html} />
        <span class="text-gradient-subtle">Games</span>
      </h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 gy-5">
        {
          allGames
            .filter((game: any) => !game.data.draft)
            .sort((a: any, b: any) => a.data.sortOrder - b.data.sortOrder)
            .map((game: any) => <GameCard game={game} />)
        }
      </div>
    </section>

    <hr class="my-4" />

    <Contact />
  </main>
  <Footer />
  <GitHubFork />
</Layout>

<script>
  // Astro will bundle and process this automatically
  // import "bootstrap/dist/js/bootstrap.bundle.min.js";

  import Plausible from "plausible-tracker";
  const plausible = Plausible({
    domain: "loic.vour.ch",
    apiHost: "/ps",
    hashMode: false,
  });
  plausible.trackPageview();
  plausible.enableAutoOutboundTracking();
</script>

<style>
  body {
    font-family: "Atkinson Hyperlegible", sans-serif;
  }
</style>
