---
import qrCodeImage from "../images/qr.svg";

import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faEnvelope } from "@fortawesome/free-solid-svg-icons";

library.add(faEnvelope);

const envelopeIcon = icon({ prefix: "fas", iconName: "envelope" });
---

<section class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 gy-5">
  <div class="col">
    <h2 class="mb-3">
      <Fragment set:html={envelopeIcon.html} />
      <span class="text-gradient-subtle">Contact</span>
    </h2>
    <a href="mailto:contact@vour.ch">contact@vour.ch</a>
  </div>

  <div class="col">
    <figure>
      <img
        src={qrCodeImage.src}
        alt="QR Code to this page"
        loading="lazy"
        width="256"
        height="256"
        class="rounded shadow-sm"
      />
      <figcaption>Link to this page</figcaption>
    </figure>
  </div>
</section>
