---
const { link, gameName } = Astro.props;

// Font Awesome
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faPlayCircle, faCode } from "@fortawesome/free-solid-svg-icons";

library.add(faPlayCircle, faCode);

const linkIcon = icon({ prefix: "fas", iconName: link.icon });
---

<a
  href={link.url}
  target="_blank"
  class="list-group-item list-group-item-action"
  data-umami-event="link_clicked"
  data-umami-event-label={gameName}
>
  <Fragment set:html={linkIcon.html} />
  {link.text}
</a>
