$bgColor1: #094257;

body {
  background-color: $bgColor1;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #da468f;
}

hr {
  color: #fff;
}

a {
  color: #2394fd;
}

a:hover {
  color: #55a9f7;
}

// Bootstrap

.bg-dark {
  background-color: #181a1b !important;
}
