@import "node_modules/nord/src/sass/nord.scss";

$bgColor1: $nord3;
$cardHeaderBgColor: $nord1;
$cardBgColor: $nord0;

$textColor: $nord6;
$headingColor: $nord6;
$hrColor: $nord4;

$linkColor: $nord9;
$linkColorHover: $nord10;
$listLinkColor: $nord6;
$listLinkColorHover: $nord4;
$codeColor: $nord14;

body {
  background-color: $bgColor1;
  color: $textColor;
  font-family: sans-serif;
  font-size: 1.05em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: $codeColor;
}

hr {
  color: $hrColor;
}

a {
  color: $linkColor;
}

a:hover {
  color: $linkColorHover;
}

h1, h2, h3, h4, h5, h6 {
  color: $headingColor;
}

// Bootstrap

.list-group-item {
  background-color: $cardBgColor !important;
  color: $listLinkColor;
}

.list-group-item:hover {
  color: $listLinkColorHover;
}

.card {
  background-color: $cardBgColor !important;
}

.card-header {
  background-color: $cardHeaderBgColor;
  font-size: 1.1em;
}
