@import "node_modules/nord/src/sass/nord.scss";

$bgColor: $nord3;
$cardHeaderBgColor: $nord1;
$cardBgColor: $nord0;

$textColor: $nord6;
$headingColor: $nord5;
$hrColor: $nord4;

$linkColor: $nord9;
$linkColorHover: $nord10;
$listLinkColor: $nord6;
$listLinkColorHover: $nord7;
$codeColor: $nord13;

body {
  background-color: $bgColor;
  color: $textColor;
  font-family: sans-serif;
  font-size: 1.05em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: $codeColor;
}

hr {
  color: $hrColor;
}

h1, h2, h3, h4, h5, h6 {
  color: $headingColor;
}
